$link: blue;
$cherry: #a62d2d;
$success: #69af00;
$nice-blue: #4779d6;
$button-ok: #5893b9;
$dark-board: #3e0d02;
$light-grey: #eaebee;
$primary: rgb(170, 167, 167);

$font-grey: #778;
$font-dark: #000;
$font-light: #fff;

$border-light: #fff;
$border-grey: #444444;
$border-grey-light: #a7a7a7;

$background-light: #fefefe;
$background-grey: #a7a7a7;
$background-dark: #151515;
$background-salmon: #f8dcdc;
$background-cherry: #a62d2d;
$background-grey-light: #eee;
$background-grey-dark: #363636;
$background-tint-light: #fcf7f2;
$background-white-grey: #eae9e9;
$background-dark-absolute: #000;
