$primary: rgb(170, 167, 167);
$cherry: #a62d2d;
$dark-board: #3e0d02;
$link: blue;
$button-ok: #5893b9;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$background-light: #fefefe;
$background-tint-light: #fcf7f2;
$background-grey-light: #eee;
$background-white-grey: #EAE9E9;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;
$background-salmon: #f8dcdc;
$background-cherry: #a62d2d;

$success: #69af00;
