.address-shipping {
  padding: 10px;

  .title {
    width: max-content;
    background-color: $background-dark-absolute;
    color: $font-light;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }

  .button-back {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
    h6 {
      font-size: 13px;
    }
  }

  .data {
    background-color: $background-light;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 10px;

    h4 {
      font-weight: lighter;
      font-style: italic;
    }
    &__title {
      display: flex;
      justify-content: center;
    }
  }

  .address {
    padding: 5 px;
    margin: 15px 0 10px 0;

    &:hover {
      cursor: pointer;
    }

    p {
      margin-bottom: 5px;

      &:first-of-type {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }
  .address-shipping__radio-form {
    margin-top: 15px;
    margin-left: 20px;
  }
}

.box-address {
  display: flex;

  &__options {
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    margin-left: 5px;

    .icon {
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }

  &__continue {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    background-color: $button-ok !important;
    color: $font-light !important;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);

    h4 {
      font-size: 16px !important;
    }
  }
}
