.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  //margin-top: 25px;
  padding: 10px;
  padding-top: 25px;  
  background-color: #F0F0F0;

  

  .order-title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  .order-table {
    display: flex;
    width: 70%;
  }

  .order-detail {
    display: flex;
    width: 100%;
    margin: 10px;

    &__mainbox {
      
      &-timeline{
        display: flex;
        width: 220px;
      }

      &-orderstatus{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        h5 {
          margin-bottom: 20px;
        }
      }
      &-items {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
        width: 90%;

        &-details {
          display: flex;
        }

        &-summary {
          display: flex;
        }
      }

      &-comments {
        display: flex;
        padding: 10px;
      }
    }
  }
}
