.footer-page {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: #fbe2ea;
  //   background-color: #e6ccf9;

  &__links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 15px;

    &-item {
      margin-left: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fcb5cc;
    padding-top: 15px;
  }

  &__text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
