.summary-cart {
  padding: 10px;

  .title {
    width: max-content;
    background-color: $background-dark-absolute;
    color: $font-light;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }

  .subtitle {
    margin-top: 15px;
    background-color: $light-grey;
  }
  .data {
    background-color: $background-light;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;

    &__products {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;


      .prod-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;

        img {
          height: 60px;

          @media (max-width: 650px) {
            height: 45px !important;
          }
        }
      }
      .prod-detail {
        width: 400px;
        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
          margin-left: 10px;
        }
        .options {
          margin-bottom: 5px;
          color: $link;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .prod-final {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;

        .price {
          display: flex;
          justify-content: flex-end;
          padding-right: 5px;
        }
      }
    }
  }

  .total-cart {
   background: linear-gradient(to right, white, #FAD9A4 );
    color: black;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &:hover {
      cursor:pointer;
    }
    
    &__continue {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      width: 220px;
      height: 50px;
      background-color: $button-ok !important;
      color: $font-light !important;
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__product {
    td {
      text-align: center !important;

      &:first-of-type {
        display: flex !important;
        align-items: center;

        img {
          height: 100px;
          padding-right: 20px;
        }
      }
    }
  }

  &__resume {
    td {
      &:last-of-type {
        text-align: center !important;
      }
    }

    .total-price {
      color: $cherry;
      font-weight: bold;
      font-size: 20px;
    }

    .clear {
      border-bottom: 1px solid $border-light !important;
      border-left: 1px solid $border-light !important;
    }
  }
}

//
.datascroller-cart .empty-cart {
  display: flex;
  justify-content: center;
  color: $nice-blue;
}
.datascroller-cart .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.datascroller-cart .product-description {
  margin: 0 0 1rem 0;
  margin-top: 3px;
}

.datascroller-cart .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.datascroller-cart .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.datascroller-cart .product-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.datascroller-cart .product-item img {
  width: 150px;
  height: 130px;
  max-width: 200px;
  max-height: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.datascroller-cart .product-item .product-detail {
  flex: 1 1 0;
}

.datascroller-cart .product-item .p-rating {
  margin: 0 0 .5rem 0;
}

.datascroller-cart .product-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.datascroller-cart .product-item .product-action {
  display: flex;
  flex-direction: column;
}

.datascroller-cart .product-item .p-button {
  margin-bottom: .5rem;
}

@media screen and (max-width: 576px) {
  .datascroller-cart .product-item {
      flex-direction: column;
      align-items: center;
  }

  .datascroller-cart .product-item img {
      width: 75%;
      margin: 2rem 0;
  }

  .datascroller-cart .product-item .product-detail {
      text-align: center;
  }

  .datascroller-cart .product-item .product-price {
      align-self: center;
  }

  .datascroller-cart .product-item .product-action {
      display: flex;
      flex-direction: column;
  }

  .datascroller-cart .product-item .product-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
}